.widget .widget__top {
  border-radius: 10px;
  background-color: white;
  margin-left: 70px;
  margin-top: 20px;
  position: sticky;
  width: 20rem;
}
.widget__top .MuiSvgIcon-root {
  font-size: medium;
}

.widget .widget__bottom {
  border-radius: 10px;
  background-color: white;
  margin-left: 70px;
  margin-top: 100px;
  position: sticky;
  width: 20rem;
}

.widget__bottom .MuiSvgIcon-root {
  font-size: medium;
}
