.login {
  display: grid;
  place-items: center;
  padding-top: 300px;
  padding-bottom: 300px;
}

.login button {
  width: 150px;
  height: 50px;
  background-color: rgb(116, 206, 116);
  color: #eff2f5;
  font-weight: 800;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.login__logo img {
  object-fit: contain;
  height: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login__logo {
  display: flex;
  flex-direction: column;
}
